page-question-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  ion-card {
    width: 100%;
    background: white;
    position: absolute;
    ion-card-header h3 {
      font-size: 30px !important;
    }
    ion-card-content{
      line-height: 1.3 !important;
      font-size: 17px !important;
    }
  }
}
