<ion-header>
  <ion-navbar>
    <ion-title>Local Hospitals</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor='let hospital of hospitalCollection'>
    <ion-card-header text-center text-wrap>{{ hospital.name }}</ion-card-header>
    <ion-card-content text-wrap>
      <h2 text-center><b>Emergency Phone #:</b><br><a [href]="this.nativeDeviceFeatures.onOpenDialer(hospital.phone)">{{ hospital.phone }}</a></h2>
      <h2 text-center><b>Address:</b><br><a [href]="this.nativeDeviceFeatures.onOpenMaps(hospital.address)">{{ hospital.address }}</a></h2>
      <h2 text-center><b>Hours:</b><br>{{ hospital.hours }}</h2>
      <div *ngIf="hospital.nonEmergencyPhone">
        <br>
        <h2 text-center><b>Non Emergency Phone Numbers:</b></h2>
        <div *ngFor="let phone of hospital.nonEmergencyPhone" class="hospitalPhone">
          <h2 *ngIf="phone.desc" text-center><span class="underline">Desc:</span> {{phone.desc}}</h2>
          <h2 text-center><span class="underline">Phone #:</span> <a [href]="this.nativeDeviceFeatures.onOpenDialer(phone.phone)">{{ phone.phone }}</a></h2>
        </div>
      </div>
      <div>
        <br>
        <h2 *ngIf= "hospital.desc" text-center><b>Description:</b> </h2>
        <ul *ngFor = "let sentence of hospital.desc">
          <li>{{ sentence }}</li>
        </ul>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
