page-help{

  ion-grid{
    margin-top: 3vw;
  }
  
  button{
  margin-top: 8vw !important; 
  margin-right: 5vw !important;
  margin-left: 5vw !important;
  height: 60vw !important;
  width: 90vw !important;
}

}