<ion-header>

  <ion-navbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <form [formGroup]="form" *ngIf="settingsReady">
    <ion-list *ngIf="page == 'main'" padding>
      <ion-item>
        <ion-label>{{ 'SETTINGS_enableIntroPage' | translate }}</ion-label>
        <ion-toggle formControlName="enableIntroPage"></ion-toggle>
      </ion-item>
      <button ion-item [navPush]="feedbackFormPage">
        <ion-icon name="chatbubbles" item-start color=""></ion-icon>
        <ion-label>Submit Feedback</ion-label>
      </button>
      <!-- <button ion-item [navPush]='changeUniversityPage'>
        Change your university
      </button> -->
    </ion-list>
  </form>
</ion-content>
