page-tutorial {
  ion-slides {
    ion-slide {
      padding: 0em .5em;
      line-height: 1.3;
      .title {
        margin-top: 1em;
        font-size: 1.3em;
      }
      .slide-img {
        max-height: 25%;
        max-width: 60%;
        margin: 0em .3em;
      }
      h5 {
        font-size: 1.1em;
        margin: 0em 0em 1.1em 0em;
      }
      ul {
        li {
          font-size: 1em;
          text-align: left !important;
        }
        margin: .3em;
      }
    }
  }
}

